$font-family-sans-serif: Lato, Arial, Helvetica, sans-serif;
$primary: #1d428a;
$light: #ffffff;
$black: #000 !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
@import "../node_modules/bootstrap/scss/bootstrap";
