$font-family-sans-serif: Lato, Arial, Helvetica, sans-serif;
$primary: #1d428a;
$light: #ffffff;
$black: #000 !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-80 img {
  max-width: 70%;
}

.navbar-opacity {
  opacity: 90%;
}

.box-footer {
  background-color: #0a4275;
}

.ancho {
  width: 50%;
}

main {
  position: relative;
  z-index: 2;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51, 51, 51, 0.5);
  background: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .ancho {
    width: 80%;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
